<h1>Reviews:</h1>

<ol>
<% @reviews.each do |review| %>
  <li><%= review.content %> Rating: <%= review.rating %></li>
<% end %>
</ol>

<%= link_to 'Back to Restaurant', restaurant_path(@restaurant) %>
